@import "./partials/class";
@import "./partials/color";
@import "./partials/common";
@import "./partials/mixin";
@import "./partials/variable";

.all-books {
  .book-card {
    .card-body {
      position: relative;
      .card-img {
        img {
          aspect-ratio: 5 / 7;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .card-title{
        font-size: 18px;
      }

      .card-text {
        font-size: 14px;
        color: $gray;
      }

      .wishlist-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: $primary-color;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
      }
    }

    .card-footer {
        padding: 0 0 1.5rem 0;
    }
  }
}

.book-details-wrapper {

  .book-img {
    img {
    }
  }
  .book-information {
    padding-left: 30px;
    .book-title {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .info-list {
        margin-bottom: 20px;
      .nav-item {
        .nav-link {
            padding: 0;
            color: $black;
            text-transform: capitalize;
            font-size: 13px;
            font-weight: normal;

            span {
                color: $primary-color;
            }
        }
      }
    }

    .description {
        margin-bottom: 20px;
        p {
            font-size: 14px;
            font-weight: normal;
        }
    }
    .btn-wrapper {
    }
  }
}
